.activeLink{
    background-color: orange;
    color:white;

}



/* Responsive */
@media (max-width: 768px) {
    .mobile-visible {
      display: block!important;
    }
  }
@media (max-width: 768px) {
    .logo-hide {
      display: none!important;
    }
  }